<div class="eye-practises-container p-4">
  <h1 class="title">{{ title }}</h1>
  A szemizmok kulcsfontosságú szereppel bírnak az éleslátásban. Általában az éleslátásért felelős izmok a sok, órahosszig tartó egy pontba történő nézés következtében megmerevednek. Legfőbb ellensége a szemünknek a monitor és a tv. A számítógép előtt végzett munka miatt a szemnek különböző kontrasztokhoz és fényviszonyokhoz kell alkalmazkodnia. Ennek hatására elkezdhet könnyezni, viszketni a szemünk, valamint fejfájás is társulhat hozzá. Ezen viszont néhány egyszerű, naponta elvégezhető szemtorna gyakorlattal javíthatunk.
  <br/>
  A szemtorna technikájának atyja egy amerikai orvos, William Horatio Bates. Felismerte, hogy mivel a látás egy tanult szokás, így el lehet felejteni helyesen nézni, minek következtében elromlanak a szemek. Tréningjének a célja, hogy a szemekkel újra a helyes nézési technikákat használjuk.  A szemtorna egy egyszerű módszer. Végezhető bárhol és bármikor, mindössze pár percet vesz igénybe naponta, ugyanakkor ezeknek a pár perces műveleteknek is figyelemreméltó hatásuk van.
  <br/><br/>
  Több szembetegség esetén is hatásosnak bizonyulnak Bates gyakorlatai:
  <ul>
    <li>távollátás</li>
    <li>rövidlátás</li>
    <li>közellátás</li>
    <li>kancsalság</li>
    <li>szemtengelyferdülés</li>
    <li>tompalátás</li>
    <li>színtévesztés</li>
    <li>szürke és zöld hályog.</li>
  </ul>

  <div class="eye-practises-wrapper">
    <div class="grid grid-cols-1 gap-x-2 gap-y-2 sm:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 xl:gap-x-4 xl:gap-y-4">
      @for (eye_practise of eyePractiseInterfaces; track eye_practise) {
        <mat-card appearance="outlined" routerLink="{{ eye_practise.route }}">
          <mat-card-header>
            <mat-icon mat-card-avatar class="card-header-icon material-symbols-outlined">{{ eye_practise.icon }}</mat-icon>
          </mat-card-header>
          <mat-card-content>
            <mat-card-title>{{ eye_practise.name }}</mat-card-title>
            <mat-card-subtitle>{{ eye_practise.description }}</mat-card-subtitle>
          </mat-card-content>
        </mat-card>
      }
    </div>
  </div>
</div>

