<div class="top-10-container">
  <h1>{{ title }}</h1>

  <mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="dataSource">

    <!-- User Name Column -->
    <ng-container matColumnDef="userName">
      <mat-header-cell *matHeaderCellDef> Felhasználónév </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{ user.userName }} </mat-cell>
    </ng-container>

    <!-- Score Column -->
    <ng-container matColumnDef="score">
      <mat-header-cell *matHeaderCellDef> Pontszám </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{ user.score }} </mat-cell>
    </ng-container>

    <!-- Table Header and Rows -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <!-- No Data Message -->
  <div *ngIf="!dataSource" class="no-data">
    <p>Nincs megjeleníthető adat.</p>
  </div>
</div>
