<div class="home-container p-4">
  <div class="row">
    <div class="px-3 py-3 text-center">
      <h1 class="title">{{ title }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col padding-20px">
      <h2 class="subtitle">Üdvözöllek, {{ getUserFullName() }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col padding-20px">
      <h2 class="subtitle">Jelenlegi gyakorlásaid száma: {{ getNumberOfPracticeDays() }}</h2>
    </div>
  </div>
  <div class="row" *ngIf="getNumberOfConsecutiveDays() > 0">
    <div class="col padding-20px">
      <h2 class="subtitle">Gratulálunk,  {{ getNumberOfConsecutiveDays() }} napja mindennap tettél a látásod érdekében!</h2>
    </div>
  </div>
</div>
