<div class="login-container">
  <div class="login-box">
    <div class="mb-3" align="center">
      <img src="../../assets/images/logo.png" width="400" height="185" alt="Alkalmazás logo"/>
    </div>

    <form [formGroup]="loginForm">
      <div class="input-group"
           [ngClass]="{'has-error': loginForm.get('username')?.invalid && submitted && (loginForm.get('username')?.dirty || loginForm.get('username')?.touched)}">
        <label for="username">Felhasználónév</label>
        <input matInput formControlName="username" id="username" name="username" type="text" class="username" required/>
      </div>

      <div class="input-group"
           [ngClass]="{'has-error': loginForm.get('password')?.invalid && submitted && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)}">
        <label for="password">Jelszó</label>
        <input matInput formControlName="password" id="password" name="password" type="password" required/>
        <div
          *ngIf="loginForm.get('password')?.errors && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched) && submitted">
          <small class="error" *ngIf="loginForm.get('password')?.hasError('minlength')">
            A jelszó hosszának legalább {{ minLength }} karakternek kell lennie
          </small>
        </div>
      </div>

      <div class="row pt-3">
        <div class="col-sm-6">
          <button mat-raised-button color="primary" type="submit" class="login-button" (click)="onSubmit()">
            <mat-icon class="material-symbols-outlined">login</mat-icon>
            Bejelentkezés
          </button>
        </div>
        <div class="col-sm-6">
          <button mat-raised-button color="primary" type="submit" class="login-button" (click)="onRegister()">
            Regisztráció
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
