.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.error-code {
  font-size: 6rem;
  font-weight: bold;
  color: #ff4081;
  margin: 0;
}

.error-message {
  font-size: 2rem;
  color: #555;
}

.error-description {
  font-size: 1rem;
  color: #888;
  margin-bottom: 20px;
}

.back-home-button {
  font-size: 1rem;
  padding: 10px 20px;
}
